.play-pause{
    position: absolute;
    width: 70px;
    height: 55px;
    left: -3px;
    top: -3px;
    }
    .header{
        /* PROTECT YOUR THINKING */
      position: absolute;
      width: 100px;
      height: 23px;
      left: 80px;
      top: 17px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 300;
      font-size: 13px;
      line-height: 22px;
      color: #000000;
      }
      .header1{
      position: absolute;
      height: 23px;
      left: 182px;
      top: 17px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 22px;
      /* identical to box height */
      color: #000000;
      }
      
    .buttonhome{
    /* Box button home*/
    position: absolute;
    width: 92px;
    height: 40px;
    left: 260px;
    top: 17px;
    color:#AFAFAF;
    
    font-size: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    background:transparent;
    border: transparent;
    border-radius: 8px;
    }
    .buttonhome:hover{
      background-color: #edeaf1;
    }
    .buttonaccount{
      /* Box Button Perfil*/
      position: absolute;
      width: 92px;
      height: 40px;
      left: 361px;
      top: 17px;
      color: #AFAFAF;  
    
    font-size: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    background: transparent;
    border: transparent;
    border-radius: 8px;
    }
    .buttonaccount:hover{
      background-color: #edeaf1;
    }
    .buttonchat{
    /* Box Button Chat*/
    position: absolute;
    width: 92px;
    height: 40px;
    left: 458px;
    top: 17px;
    color: #7C44F2;
    
    font-size: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    background: transparent;
    border: transparent;
    border-radius: 8px; 
    }
    .buttonchat:hover{
      background-color:#beb3d4;
    }
    