
.play-pause{
position: absolute;
width: 70px;
height: 55px;
left: -3px;
top: -3px;
}
.header{
  /* PROTECT YOUR */
position: absolute;
width: 93px;
height: 23px;
left: 80px;
top: 9px;

font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 22px;

color: #000000;
}
  /* THINKING */
.header1{
position: absolute;
height: 23px;
left: 177px;
top: 9px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 22px;
/* identical to box height */


color: #000000;
}
.buttonhome{
/* Box button home*/
position: absolute;
width: 92px;
height: 40px;
left: 251px;
top: 9px;
color: #7C44F2;

font-size: "Poppins";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
background: #E9DFFD;
border: transparent;
border-radius: 8px;
}
.buttonhome:hover{
  background-color: #B395ED;
}
.buttonaccount{
  /* Box Button Perfil*/
  position: absolute;
  width: 92px;
  height: 40px;
  left: 353px;
  top: 9px;
  color: #AFAFAF;  

font-size: "Poppins";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
background: transparent;
border: transparent;
border-radius: 8px;
}
.buttonaccount:hover{
  background-color: #edeaf1;
}
.buttonchat{
/* Box Button Chat*/
position: absolute;
width: 92px;
height: 40px;
left: 458px;
top: 9px;
color: #AFAFAF;  

font-size: "Poppins";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
background: transparent;
border: transparent;
border-radius: 8px; 
}
.buttonchat:hover{
  background-color: #edeaf1;
}
.linha{
  position: absolute;
  width: 1786px;
  height: 0px;
  left: 0px;
  top: 73.75px;
  border: 1px solid #F5F6FA;
 }
.border{
/* retangulo*/

box-sizing: border-box;

position: absolute;
width: 500px;
height: 673px;
left: 33px;
top: 101px;

/* cinza icons */

border: 1px solid #D6D7DB;
border-radius: 30px;
}
.caixatxt{
/* Rectangle 1150 */
position: absolute;
width: 460px;
height: 109px;
left: 52px;
top: 122px;

/* cinza backgroud icons */

background: #F5F6FA;
border-radius: 30px;
border: transparent;

/* What are you feeling? */

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 36px;

color: #A8A8A9;

}
.sombra{
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.enviari{
/* enviar */
position: absolute;
width: 23.63px;
height: 24px;
left: 462px;
top: 198px;
}
.caixa{
/* caixa hi */
position: absolute;
width: 600px;
height: 176px;
left: 637px;
top: 121px;

/* cinza backgroud icons */

background: #F5F6FA;
border-radius: 30px;
}
.hi{
/* Hi! Laura */
position: absolute;
width: 169px;
height: 60px;
left: 691px;
top: 125px;

font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 40px;
line-height: 60px;
/* identical to box height */

color: #000000;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.very{
/* Very nice to have you back. */
position: absolute;
width: 326px;
height: 36px;
left: 689px;
top: 200px;

font-family: 'Poppins';
font-style: normal;
font-weight: 275;
font-size: 24px;
line-height: 36px;
/* identical to box height */

color: #000000;
}
.vector{
/* Vector */
position: absolute;
width: 25.6px;
height: 30.91px;
left: -29px;
top: 0px;
}
.recent{
/* Recent */

position: absolute;
width: 156px;
height: 36px;
left: 78px;
top: 233px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
/* identical to box height */


color: #888888;
}
.recommend{
/* Recommended */

position: absolute;
width: 188px;
height: 36px;
left: 35px;
top: 832px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
/* identical to box height */


color: #626262;
}
.line{
/* Line 34 */

position: absolute;
width: 1261px;
height: 0px;
left: -0.03px;
top: 954px;

/* cinza icons */

border: 1px solid #D6D7DB;
}
.buttonvideo{
/* caixa video */

position: absolute;
width: 120px;
height: 44px;
left: 198px;
top: 904px;

background: #E9DFFD;
border-radius: 8px;
border: transparent;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
/* identical to box height */


color: #7C44F2;
}
.buttonbooks{
/* caixa video */

position: absolute;
width: 120px;
height: 44px;
left: 557px;
top: 904px;

background: transparent;
border-radius: 8px;
border: transparent;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
/* identical to box height */
  
color: #AFAFAF;
}
.buttonmovies{
  /* caixa video */
  
  position: absolute;
  width: 120px;
  height: 44px;
  left: 916px;
  top: 904px;
  
  background: transparent;
  border-radius: 8px;
  border: transparent;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */
    
  color: #AFAFAF;
  }
  

