.conta{
position: absolute;
left: 2.85%;
right: 49.24%;
top: 35.45%;
bottom: 40%;

font-family: 'Manrope';
font-style: normal;
font-weight: 659;
font-size: 58px;
line-height: 77px;
/* or 133% */

color: #000000;
}
.